body {
  /*background-color: linear-gradient(70deg, blue, pink);*/
  font-size:16px;
}

#panel {
  width: 750px;
  height: 600px;
  margin: 50px auto;
  background-color: hsl(183, 49%, 66%);
  position: relative;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px hsl(183, 49%, 26%);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: cursive, sans-serif;

  /* applies to all containers inside */
  text-align: center;
}

#panel div {
  border-radius: 5px;
  padding-bottom: 0;
}

#question {
  width: 500px;
  height: 200px;
  margin-top: 20px;
  background-color: hsl(48, 87%, 58%);
  box-shadow: 0px 5px 5px hsl(48, 87%, 28%);

  text-align: center;
  font-size: 7em;
  line-height: 1.5em;
}
#instruction {
  width: 500px;
  height: 70px;
  background-color: hsl(48, 67%, 88%);
  box-shadow: 0px 5px 5px hsl(48, 67%, 38%);
  text-align: center;
  font-size:1.5em;
  font-family: Arial;
  line-height: 1.2em;
  color: hsl(189, 81%, 20%);
}
#choices {
  width: 500px;
  height: 110px;
  display:flex;
  flex-flow: row;
  justify-content: space-between;
}
#choices div {
  width: 100px;
  height: 100px;
  background-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 30%);
  box-shadow: 0px 5px 5px hsl(0, 0%, 40%);
  text-align: center;
  font-weight: bolder;
  line-height: 4.3em;
  font-size: 1.3em;
}
 #choices div:hover {
   background-color: hsl(0, 0%, 85%);
   cursor:pointer;
 }
 #choices div.resetChoice:hover {
   cursor: default;
   background-color: hsl(0, 0%, 95%);
 }

#start_reset {
  width:160px;
  height: 60px;
  margin-bottom: 10px;
  color: hsl(85, 100%, 90%);
  background-color: hsl(86, 50%, 48%);
  box-shadow: 0px 5px 5px hsl(72, 62%, 13%);
  line-height: 2em;
  font-size:1.4em;
}
#start_reset:hover {
  background-color: hsl(86, 45%, 58%);
  cursor: pointer;
}

#timer, #score {
  height:60px;
  width:200px;
  margin-bottom: 10px;
  position:absolute;
  bottom: 20px;
  background-color: hsl(48, 87%, 58%);
  box-shadow: 0px 5px 5px hsl(48, 87%, 28%);

  line-height: 2.8em;
  font-size:1.3em;

  visibility: hidden;
}
#timer {
  left: 20px;
}
#score {
  right: 20px;
}
#timer p, #score p {
  margin:0;
}

#feedbackCorrect, #feedbackWrong {
  position:absolute;
  top: 10%;
  visibility: hidden;
}
#feedbackCorrect img, #feedbackWrong img {
  height:120px;
  width:120px;
  border-radius: 50%;
}

#feedbackCorrect {
  right: 10px;
}
#feedbackWrong {
  left: 10px;
}

#gameOver {
  width: 600px;
  height: 300px;
  background: linear-gradient(to top, hsl(120, 20%, 25%), hsl(170, 40%, 50%));
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);

  visibility: hidden;
}
#gameOver p {
  color:hsl(0, 0%, 85%);
  text-transform: uppercase;
  font-family: Arial;
  font-size: 3.4em;
}
